<div class="title">
    Destaques
</div>
<div class="product-container">
    <div>
        <div class="dsp-f">
            <%= link_to product_path(1), class: "product p1" do %>
                <div class="product-img square-w">
                    <div class="opacity-top"></div>
                    <div class="reflection"></div>
                    <img src="/resources/images/p1.jpg" alt="">
                    <div class="opacity-bottom"></div>
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            <% end %>
            <div class="product p1">
                <div class="product-img square-w">
                    <img src="/resources/images/p2.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="product p2">
            <div class="product-img square-h">
                <img src="/resources/images/p3.jpg" alt="">
            </div>
            <div class="product-description">
                <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                <div class="product-price">R$ 322,98</div>
                <div class="product-rate">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        <div class="dsp-f">
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p5.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p5.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p1.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="product p2">
            <div class="product-img square-h">
                <img src="/resources/images/p3.jpg" alt="">
            </div>
            <div class="product-description">
                <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                <div class="product-price">R$ 322,98</div>
                <div class="product-rate">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        <div class="dsp-f">
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p5.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p3.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="product p3">
                <div class="product-img square-w">
                    <img src="/resources/images/p6.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="dsp-f">
            <div class="product p1">
                <div class="product-img square-w">
                    <img src="/resources/images/p5.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="product p1">
                <div class="product-img square-w">
                    <img src="/resources/images/p1.jpg" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title">Apto de 1 quarto todos ambientes para praia! WIFI!</div>
                    <div class="product-price">R$ 322,98</div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="no-shadow"></div>
<div class="title">
    Promoções
</div>
<div class="product-container">
    <div>
        <div class="dsp-f">
            <div class="product p1">
                <div class="product-img square-w">

                </div>
                <div class="product-description"></div>
            </div>
            <div class="product p1">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
        </div>
        <div class="product p2">
            <div class="product-img square-h"></div>
            <div class="product-description"></div>
        </div>
        <div class="dsp-f">
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="product p2">
            <div class="product-img square-h"></div>
            <div class="product-description"></div>
        </div>
        <div class="dsp-f">
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
            <div class="product p3">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
        </div>
        <div class="dsp-f">
            <div class="product p1">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
            <div class="product p1">
                <div class="product-img square-w"></div>
                <div class="product-description"></div>
            </div>
        </div>
    </div>
</div>
</div>


<%= link_to "Produtos", products_path %>
<%= link_to "Estabelecimentos", stablishments_path %>