<div class="title container">
    Destaques
</div>

<div class="container">
    <div class="row">
        <% @products.each do |product| %>
        <div class="col-md-4">
            <%= link_to product_path(product.id), class: "product" do %>
                <div class="product-img">
                    <img src="<%= product.get_image %>" alt="">
                </div>
                <div class="product-description">
                    <div class="product-title"><%= product.name %></div>
                    <div class="product-price"><%= product.price_format %></div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
