<div style="padding: 40px 80px;background:#eeeeee;">
    <div class="container">
        <div style="background:white;margin-bottom:30px;display:flex;align-items:center;padding:30px 20px;border-radius:15px">
            <div>
                <div style="margin-bottom:5px">
                    <%= @product.name %>
                </div>
                <div class="product-rate">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div style="flex-grow:1;display:flex;flex-direction:row-reverse;align-items:center">
                <% if user_signed_in? %>
                    <%= link_to 'Reservar Agora', new_item_path(@product), class: "btn btn-red" %>
                <% end %>
                <span style="margin-right:30px;font-size:40px;color:grey">R$ <%= @product.price %></span>
            </div>
        </div>
        <div style="display:flex;align-items:stretch;border-radius:15px;overflow:hidden">
            <img src="/resources/images/p1.jpg" style="height:100%; width: 500px;" alt="">
            <div style="padding:50px 40px;background:white">
                <div class="product-detail-title mb-30" >
                    Apto de 1 quarto todos ambientes para praia! WIFI!
                </div>
                <div class="product-detail-description">
                    Encontre na Walt Disney um lugar onde os contos de fadas se transformam em realidade. Este é o lugar onde a diversão e a magia reinam! Com seus ingressos você poderá percorrer os quatro parques da Disney: Magic Kingdom, Epcot, Disney´s Hollywood Studios e Disney´s Animal Kingdom, quatro terras onde você encontrará o encanto e as maravilhas da Disney World em cada esquina. No Magic Kingdom você poderá desfrutar das clássicas atrações da Disney, de lindos fogos artificiais e espetáculos musicais, e da companhia dos seus personagens favoritos da Disney World. Em Epcot, você descobrirá as culturas do mundo em seus incríveis pavilhões internacionais, se divertirá nas suas emocionantes atrações e viverá um dia diferente junto à melhor tecnologia. No Disney's Hollywood Studios você conhecerá um pouco mais sobre filmes e séries de TV da Disney,
                </div>

                <div class="product-detail-title mb-30 mt-30">
                    Endereço
                </div>
                <div class="product-detail-description">
                <%= @product.address %>
                </div>
            </div>
        </div>
    </div>
</div>
