<div id="head">
    <%= link_to("Turismaria", home_index_path, class: "header-logo") %>
    <div>
        <% if user_signed_in? %>
            <%= link_to('Sair', destroy_user_session_path, class: "header-btn", style: "float:right") %>
            <% if current_user.is_human? %>
                <%= link_to('Minhas Reservas', reservations_path, class: "header-btn", style: "float:right") %>
            <% else %>
                <%= link_to('Meus Produtos', products_path, class: "header-btn", style: "float:right") %>
            <% end %>
        <% else %>
            <span style="float:right" class="header-btn" id="EntrarButton">
                Entrar
            </span>
        <% end %>
    </div>
</div>
